@charset "utf-8";
/* CSS Document */
body{font-family:'Open Sans', sans-serif}
.navbar{min-height:90px}
.navbar-default{border-bottom:1px solid #fff;box-shadow:0 1px 5px rgba(0, 0, 0, 0.1);
background:#ffffff; /* Old browsers */
background:-moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
background:linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
.navbar-default .navbar-nav > li > a{color:#383634;font-weight:600;margin-left:5px;padding:10px;border-radius:4px;margin-bottom:5px}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a.active{background-color:#F47421;color:#FFF}
.navbar-toggle{margin-top:25px}
/*for slider*/
.carousel{margin-top:90px}
.carousel-indicators li{border-bottom:1px solid #F2F2F2;border-width:0 0 2px;height:0;width:30px;border-radius:0;padding:4px}
.carousel-indicators .active{background-color:transparent;border-color:#EF6B00;height:0;width:30px;margin:1px}

/*Common*/
.btn{border-radius:0}
.text-orange{color:#FF7300}
.spaceH{font-size:0;height:8px;clear:both}
.text-bold{font-weight:600}
.marLR10{margin:0 10px}
.marT0{margin-top:0}
a:active,a:focus{outline:none}

.about-section{background-color:#F2F2F2;font-size:16px;padding:50px 0}
.about-section .text-gray{font-size:26px;font-weight:300;padding:15px}
.parallax-overlay{background-attachment:scroll;background-repeat:repeat;height:100%;left:0;position:absolute;top:0;width:100%}
.parallax-overlay-1{background-image:url(../img/overlay-pattern.png)}
.parallax-banner-1{background-image:url(../img/parallax-banner-1.jpg);padding:60px 0;position:relative}

.cta{text-transform:uppercase}
.cta span{font-weight:300}
.cta h4{font-weight:600;font-size:38px;min-height:270px}
.cta-service,.cta-about,.cta-contact{padding:30px;color:#fff}
.cta-service{background-color:rgba(61, 141, 222, 0.8)}
.cta-about{background-color:rgba(222, 167, 61, 0.8)}
.cta-contact{background-color:rgba(43, 210, 153, 0.8)}

.btn-orange{background-color:#f47421;border-radius:4px;color:#fff}
.btn-orange:hover{background-color:#EA6F23;color:#fff}
.btn-white{background:url(../img/arrow-small.png) no-repeat right center rgba(255, 255, 255, 0.17);border:1px solid rgb(255, 255, 255);color:#fff;padding:6px 40px 6px 15px;text-transform:uppercase}
.btn-white:hover{background:url(../img/arrow-small.png) no-repeat right center rgba(255, 255, 255, 0.37);color:#fff}
/*for Footer*/
footer{padding-bottom:20px;background:url(../img/hello-world.png) no-repeat 80% bottom;min-height:300px}
.footer-bdr{padding-bottom:40px}
.footer-bdr .col-xs-8{background-color:#F47421;height:12px}
.footer-bdr .col-xs-4{background-color:#565656;height:12px}
footer a{color:#7F7F7F}
.nav.navbar-footer li{display:inline-block}
.nav.navbar-footer a{font-size:12px;padding:4px 0}
.nav.navbar-footer a:hover{background-color:transparent;color:#F47421}
.copyright{font-size:12px}

/*Inner Pages*/
.who-vr-section{padding:90px 0 0 0}
.right-block-1, .right-block-2{color:#fff;font-size:30px;padding:25px;line-height:32px; text-transform:uppercase}
.right-block-1{background:#efa92f}
.right-block-2{background:#3D8DDE}
.right-block-1 p,.right-block-2 p{margin:0}
.contact-block-1{border-left:solid 1px #dddddd;padding:10px 20px}
.contact-block-1 h4{color:#333;font-weight:600}

@media (max-width:320px){.navbar-brand{padding:15px 5px}}
@media (min-width:768px) and (max-width:980px){.container{width:auto}.cta h4{font-size:22px;min-height:160px}}
@media (min-width:980px) and (max-width:1199px){.container{width:auto}.cta h4{font-size:34px;min-height:230px}}
@media (min-width:768px){.navbar-collapse.collapse{margin-top:25px}}